html{
    box-sizing: border-box;
  }
  
  *, *:after, *:before{
    box-sizing: inherit;
  }
  *{
    margin: 0;
    padding: 0;
    border: none;
  }
body{
    background-color: #333;
}

.counter_container{
    background-color: #2A8C5B;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10em;
    color: #333;
    font-family: monospace;
}@media(max-width:620px) {
    .counter_container{
        font-size: 8em;
    }
}
@media(max-width:450px){
    .counter_container{
        font-size: 6em;
    }
}

.buttons_container{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 60%;
    margin: 2em auto;
}
@media(max-width:768px) {
    .buttons_container{
        width: 100%;
    }
}
.buttons_container button{
    background: transparent;
    cursor: pointer;
}
.buttons_container button>img{
    width: 50px;
}
/* separator=== */

.lap{
    font-family: monospace;
    list-style-type: none;
    width: 60%;
    margin: 5em auto;
}
@media(max-width:768px) {
    .lap{
        width: 90%;
    }
}
.lap li{
    color: #2A8C5B;
    font-size: 2em;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    border-bottom: 1px solid #2A8C5B;
    padding: .1em 0;
    display: flex;
    justify-content: space-between;
}